body{
	background:#E5F9FF;
}

header {
	width: 80%;
	height: 120px;
	background: #E5F9FF;
	margin-left:10%;
	margin-right:10%;
	float:right;


}

#logo{
	font-weight: 600;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:18pt;
	height:60px;
	padding-left:50px;

}

#logo1{
	margin-right:800px;
}

#title{
	margin-top:20px;
}

#authrization {
    border-width: 0px;
    display: block;
    margin-left: 835px;
    margin-top: -58px;
    padding-right:10px;
    width: 20%;
    height: 110px;
}

#comment_f{
    border-width: 0px;
    display: block;
	position: absolute;
	top:400px;
	left:137px;
    margin-left: 700px;
    margin-top: 600px;
    padding-right:10px;
    width: 20%;
    height: 200px;
}

#comment_button {
    color: #0066CC;
    font-size: 15pt;
    height:25px;
    background-image: none;
    background-color: transparent;
    border:0px;

}



#log_out_button {
    color: #0066CC;
    font-size: 15pt;
    margin-left: 3px;
    margin-top: 20px;
    height:25px;
    background-image: none;
    background-color: transparent;
    border:0px;

}

#add_tutorial_button {
    color: #0066CC;
    font-size: 15pt;
    margin-left: 5px;
    margin-top: 20px;
    height:25px;
    background-image: none;
    background-color: transparent;
    border:0px;

}

#login_table{
    margin-right:10px;
}



.main {
	height: 1000px;
	background: #E5F9FF;
	margin-left:10%;
	margin-right:10%;
	margin-top:120px;
	clear: both;


}

.main_head{
	height: 70px;
	margin-left:10%;
	margin-right:10%;
	padding-top:20px;
	clear: both;
}

.categories{
        border: 4px solid #4AD2FF;
	border-radius: 12px;
	height: 850px;
	width:150px;
	position:absolute;
	left:140px;
	padding-top:20px;
	padding-left:15px;
	margin-left:10px;
	background: #F2F2F2;
}

.tutorial_1{
        border: 4px solid #4AD2FF;
	border-radius: 12px;
	border-radius: 12px;
	height: 70px;
	width:590px;
	position:absolute;
	left:355px;
	padding-top:20px;
	padding-left:15px;
	margin-left:10px;
	background: #F2F2F2;
}

.tutorial_2{
        border: 4px solid #4AD2FF;
	border-radius: 12px;
	border-radius: 12px;
	height: 70px;
	width:590px;
	position:absolute;
	left:355px;
    top:350px;
	padding-top:20px;
	padding-left:15px;
	margin-left:10px;
	background: #F2F2F2;
}

.tutorial_3{
        border: 4px solid #4AD2FF;
	border-radius: 12px;
	border-radius: 12px;
	height: 70px;
	width:590px;
	position:absolute;
	left:355px;
    top:480px;
	padding-top:20px;
	padding-left:15px;
	margin-left:10px;
	background: #F2F2F2;
}

.tutorial_4{
        border: 4px solid #4AD2FF;
	border-radius: 12px;
	border-radius: 12px;
	height: 70px;
	width:590px;
	position:absolute;
	left:355px;
    top:610px;
	padding-top:20px;
	padding-left:15px;
	margin-left:10px;
	background: #F2F2F2;
}

.tutorial_5{
        border: 4px solid #4AD2FF;
	border-radius: 12px;
	border-radius: 12px;
	height: 70px;
	width:590px;
	position:absolute;
	left:355px;
    top:740px;
	padding-top:20px;
	padding-left:15px;
	margin-left:10px;
	background: #F2F2F2;
}

.tutorial_6{
        border: 4px solid #4AD2FF;
	border-radius: 12px;
	border-radius: 12px;
	height: 70px;
	width:590px;
	position:absolute;
	left:355px;
    top:870px;
	padding-top:20px;
	padding-left:15px;
	margin-left:10px;
	background: #F2F2F2;
}

.tutorial_7{
        border: 4px solid #4AD2FF;
	border-radius: 12px;
	border-radius: 12px;
	height: 70px;
	width:590px;
	position:absolute;
	left:355px;
    top:1000px;
	padding-top:20px;
	padding-left:15px;
	margin-left:10px;
	background: #F2F2F2;
}



.comment{
	        border: 4px solid #4AD2FF;
	border-radius: 12px;
	border-radius: 12px;
	height: 50px;
	width:590px;
	position:absolute;
	left:355px;
	top: 900px;
	padding-top:20px;
	padding-left:15px;
	margin-left:10px;
	background: #F2F2F2;
}



.popular_authors{
        border: 4px solid #4AD2FF;
	border-radius: 12px;
	height: 60%;
	width:150px;
	position:absolute;
	left: 1025px;
	padding-top:20px;
	padding-left:10px;
	margin-left:10px;
	background: #F2F2F2;
}

.latest_guides{
        border: 4px solid #4AD2FF;
	border-radius: 12px;
	height: 60%;
	width:150px;
	position:absolute;
	left: 1025px;
	top: 680px;
	padding-top:20px;
	padding-left:10px;
	margin-left:10px;
	background: #F2F2F2;
}

footer {
	width: 80%;
	height: 120px;
	background:#E5F9FF;
	margin-left:10%;
	margin-right:10%;
	float:right;


}

