#menu {
  	bottom: 5px;
  	height: 120px;
	background: #69c;
	text-shadow:0 1px 1px black;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.logo{
	float:left;
	padding-left:50px;
	padding-top:7px;
}

.default {
	width:100%;
}

.main{
	padding-bottom: 50px;
    height: 1000px;
}

footer {
  	bottom: 5px;
  	height: 100px;
	background: #69c;
	text-shadow:0 1px 1px black;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.adress{
	width:350px;
	float:left;
	padding-top:20px;
	padding-left:45px;
	font-size:10pt;
}

.contacts{
	width:250px;
	float:left;
	font-size:10pt;
	padding-top:20px;
	padding-left:70px;
}

.command{
	width:400px;
	float:left;
	font-size:10pt;
	padding-top:30px;
    line-height: 40px;
    font-size:15pt;
}
.com_text{
    padding-right: 70px;
    float:right;
}
.f_logo{
	width:100px;
	float:right;
	padding-top:10px;
}



.im_logo_f{
	float : right;
	margin-right:20px;
}

.tagline{
    float: left;
    padding-left:40px;
    padding-top:45px;
    font-size:30px;
    font-style: italic;
}

.registr_form{
    float:right;
    padding-top:15px;
    padding-right:30px;
    font-size:10pt;
}

.sign_up_b{
    float:right;
    background: #69c;
    border:0;
    padding-right:35px;
    font-size:12pt;
}

.sign_in_b{
    float:right;
    background: #69c;
    border:0;
    padding-right:30px;
    font-size:12pt;
}

.names{
    width:100%;
    height:120px;
    color:black;
    line-height: 120px;
    text-shadow:0 1px 1px black;
    font-size:25px;
}

.categ_name{
    float:left;
    padding-left:40px;
}
.tutor_name{
    float:left;
    padding-left:380px;

}

.det_tutor_name{
    float:left;
    padding-left:380px;

}

.auth_name{
    float:right;
    padding-right:20px;
}


.categories{
    border: 3px solid #69c;
	border-radius:5px;
    float:left;
    width:200px;
    height:85%;
    margin-left: 15px;
}

.content{
    border: 3px solid #69c;
	border-radius:5px;
    float:left;
    width:790px;
    height:10%;
    margin-left: 50px;
}

.det_tutor{
    border: 3px solid #69c;
	border-radius:5px;
    float:left;
    width:790px;
    height:85%;
    margin-left: 50px;
}



.popular_auth{
    border: 3px solid #69c;
	border-radius:5px;
    float:right;
    width:200px;
    height:40%;
    margin-right: 15px;
}
.guides_name{
   position:absolute;
    width:200px;
    height: 50px;
    right: 15px;
    top:666px;
    text-shadow:0 1px 1px black;
    font-size:25px;
}

.lat_guid{
    float:right;
    width:200px;
    height:37%;
    border: 3px solid #69c;
	border-radius:5px;
    clear: right;
    margin-right: 15px;
    margin-top: 70px;
}

